@use "variables" as v;
@use "mixins";


.input{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: v.$light-grayish-blue;

    &__restar{
        width: 25px;
        height: 100%;
        padding: 26px 5px;
        cursor: pointer;
    }

    &__sumar{
        width: 25px;
        height: 100%;
        padding: 22px 5px;
        cursor: pointer;
    }

    &__numero{
        width: 100%;
        text-align: center;
        border: none;
        font-size: 20px;
        font-weight: 700;
        outline: none;
        background-color: v.$light-grayish-blue;
    }
}