@use "variables" as v;
@use "mixins";

.modal-imagenes{
    width: 600px;
    &__back{
        @include mixins.modal-back; 
        display: none;
        // display: grid;
        place-content: center;
    }

    &__contenedor{
        background-image: url("/images/image-product-1.jpg");
        background-size: cover;
        height: 450px;
        margin-bottom: 30px;
        border-radius: 15px;
        position: relative;
    }

    &__miniaturas{
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin: auto;    
    }

    &__miniatura{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border: 2px solid v.$orange;
        }
    }

    &__cerrar-contenedor{
        height: 30px;
        text-align: right;
    }

    // icono para cerrar modal de las imagenes
    &__cerrar{
        width: 15px;
        &:hover{
            cursor: pointer;
            
        }
    }
}

.modal-imagen_anterior{
    @include mixins.imagenes-boton(220px, 5px, true)
}

.modal-imagen_posterior{
    @include mixins.imagenes-boton(220px, 555px, true)
}

