// importo otros archivos SASS
@use "inicial" ;
@use "variables" ;
@use "header" ;
@use "navbar" ;
@use "modal-navbar" ;
@use "imagenes" ;
@use "detalles" ;
@use "input" ;
@use "modal-carta";
@use "modal-imagenes";

.contenedor__main{
    position: relative;
    width: 375px;
    border: 2px solid black;
    margin: auto;
    
    @media (min-width: 1110px){
        
        width: 1110px;
    }
}

.contenedor{
    @media (min-width:1110px){
        display: flex;
        padding: 90px 50px;
        gap: 125px;
    }
}